<h2>Update the drone</h2>

<form action="/drones/{{droneToEdit._id}}/edit" method="post" class="form">

    <h1>Edit drone <i>{{droneToEdit.name}}</i></h1>
    <label for="name" class="label">Name</label>
    <input id="name" name="name" type="text" value="{{droneToEdit.name}}" />

    <label for="propellers" class="label">Propellers</label>
    <input id="propellers" name="propellers" type="number" value="{{droneToEdit.propellers}}" />

    <label for="maxSpeed" class="label">Max Speed</label>
    <input id="maxSpeed" name="maxSpeed" type="number" value="{{droneToEdit.maxSpeed}}" />
    </select>

    <button>OK</button>
</form>